<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="test/bootstrap.php">

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="DataDogClient tests" addUncoveredFilesFromWhitelist="true">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
