<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.4/phpunit.xsd"
         bootstrap="test/bootstrap.php"
         colors="always"
         backupGlobals="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         addUncoveredFilesFromWhitelist="true"
         processUncoveredFilesFromWhitelist="true">

<php>
    <var name="TEST_FIXTURE_DIRECTORY" value="test/fixtures"/>
</php>

<testsuite>
    <directory suffix="Test.php">test</directory>
</testsuite>

<logging>
    <log type="coverage-html" target="coverage" lowUpperBound="65" highLowerBound="85"/>
</logging>

<filter>
    <whitelist>
        <directory suffix=".php">src</directory>
    </whitelist>
</filter>
</phpunit>
